@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&display=swap');

body {
  margin: 0;
  background: linear-gradient(62deg, #3A12BB 50%, #1244BB 100%);
  mix-blend-mode: plus-lighter;
  cursor: none;

.cursor {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(#38B8EB, #4138EB);
  transition: 0.1s;
  transform: translate(-50%,-50%);
  pointer-events: none;
}


.blur-text-container .blur-text{
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-size: 20vh;
  line-height: 3.5;
  font-style: normal;
  text-transform: uppercase;
  margin: 0;
  filter: blur(40px);
  transition: all 900ms ease;
}

.scroll{
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-size: 5vh;
  line-height: 3.5;
  font-style: oblique;
  text-transform: uppercase;
  margin: 0;
  filter: blur(40px);
  transition: all 900ms ease;
}

.scroll:hover {
  filter: blur(0);
  letter-spacing: 0.25em;
  transform: scale(1.2);
  color: #38D7EB; 
  mix-blend-mode: difference;
}


.blur-text:hover {
  filter: blur(0);
  letter-spacing: 0.25em;
  transform: scale(1.2);
  color: #38D7EB; 
  mix-blend-mode: difference;
}


.blur-text-container {
  color: #B149FA;
}

.blur-text.t {
  color: #B149FA;
  }
}

a {
  font-family: "Kanit", sans-serif;
  font-weight: 10;
  text-decoration: none;
  font-size: 10vh;
  line-height: 0.8;
  font-style: normal;
  text-transform: uppercase;
  margin: 0;
  color: #4138EB;
  mix-blend-mode: luminosity;
}

a:hover {
  font-family: "Kanit", sans-serif;
  font-weight: 10;
  font-size: 10vh;
  text-decoration: none;
  line-height: 0.8;
  font-style: normal;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.200em;
  transition: all 0.8s ease-in-out;
  animation: type 5s steps(9, end); care-blink .8s ease infinite; 
}

.project {
  width: 100vw;
  height: 100vh;
  font-weight: lighter;
  font-size: 100px;
  white-space: nowrap;
  position: fixed;
  font-family: "Kanit", sans-serif;
  color: #0DDEBA;
  mix-blend-mode: difference;
}



.gray {
  background: linear-gradient(62deg, #1244BB 50%, #3A12BB 100%)
}
.blue {
  background: linear-gradient(62deg, #1244BB 50%, #3A12BB 100%)
}
.scroller {
  height: 400vh; /* just to create enough amount to scroll */
}
#note {
  text-align: right;
  position: fixed;
  right: 1em;
}

linear-gradient(0deg, #FFFAC7, #FFC7C7, #E0C7FF, #D0FFC7);