body {
  background-color: hsl(50, 95%, 50%, 1.0);
}
.clock {
  float:left;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: hsl(10, 80%, 50%, 1.0);
  border-radius: 
  margin: 10px;
}
.clock2 {
  float:right;
  bottom: -700px;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: hsl(200, 80%, 50%, 1.0);
  border-radius: 
  margin: 10px;
}

.clear {
  clear: both;
}