body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: peachpuff;
	font-weight: bold;
	font-style: italic;
	width: 50px;
	position: absolute;
	line-height: 0.3;
	margin:0;
	padding:0;
	left: 200px;
	transition: all 0.5s ease-in-out;
  animation: type 5s steps(90, end); care-blink .8s ease infinite; 
}


a:hover {
	letter-spacing: 0.20em;
	background-image: linear-gradient(0deg, #E1DDD9, #BDB9B5, #827F7C, #3D3C3A);
}

.staircase {
  display: inline;
}


.staircase:hover body{
  transform: translate(0, -50px);
}

.gradient-textsun {
  background-image: linear-gradient(0deg, #ffff, #ECB848, #EC9548, #EC5448);
  background-size: 100%;
  font-size: 30px;
  text-transform: lowercase;
  mix-blend-mode: multiply;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
 
}

.gradient-textflowers {
  background-image: linear-gradient(0deg, #FFFAC7, #FFC7C7, #E0C7FF, #D0FFC7);
  background-size: 100%;
  text-transform: lowercase;
  font-size: 60px;
  mix-blend-mode: multiply;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.gradient-textpetals {
  background-image: linear-gradient(0deg, #6DF29D, #6DF2C8, #6DF2E8, #6DD5F2);
  background-size: 100%;
  font-size: 110px;
  mix-blend-mode: multiply;
  text-transform: lowercase;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.gradient-textburn {
  background-image: linear-gradient(0deg, #F38B3A, #F27955, #F25755, #F26F6D);
  background-size: 100%;
  font-size: 190px;
  mix-blend-mode: multiply;
  text-transform: lowercase;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.flex {
  display: flex;
}

@keyframes type {
   0% { 
        width: 0;

    }

    100% {
        width: 100%;

    }
}

@keyframes caret-blank {
  0% {

    border-color: transparent;
  }
}
  





